/* theme colors */
$primary:       #e46724 !default;
$secondary:  #222  !default;

$white:    #fff !default;
$gray-100: #fafafa !default;
$gray-200: #F9F8FC !default;
$gray-300: #EDEDED !default;
$gray-400: #cbc8d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-650: #646262 !default;
$gray-700: #444 !default;
$gray-800: #343a40 !default;
$gray-900: #17141F !default;
$black:    #000 !default;

$warning: #BD0707 !default;
$success: #0E8A5A !default;
