@import '~sass/variables';

.skicam-item{
  margin-bottom: 1rem;
  border: 1px solid $gray-300;
  background-color: $white;
}
.date {
  text-align: right;
  font-size: .9rem;
  padding: .5rem;
}
.item-heading {
  text-align: center;
  margin-top: .5rem;
} 