<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="card"> 
        <img 
          [@onLoadfade]="state"
          (load)="state='in'"
          mat-card-image
          src="./../../../../assets/img/card1.jpg"
          alt="PGS">
        <mat-card-content>
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim officiis, animi repellat quae sit praesentium.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <img 
          [@onLoadfade]="state"
          (load)="state='in'"
          mat-card-image 
          src="./../../../../assets/img/card2.jpg" 
          alt="PGS">
        <mat-card-content>
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim officiis, animi repellat quae sit praesentium.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <img
          [@onLoadfade]="state"
          (load)="state='in'"
          mat-card-image 
          src="./../../../../assets/img/card3.jpg" 
          alt="PGS">
        <mat-card-content>
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim officiis, animi repellat quae sit praesentium.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div> 
</div>
 