<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        About us
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/skicams"
        routerLinkActive="active">
        Skicams
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/contact"
        routerLinkActive="active">
        Contact
      </a>
    </li>
  </ul>
</nav>